:root {
  --color-background: #dee2e6;
  --color-white: #f1f3f5;
  --color-black: #495057;
  --color-green: #69db7c;

  --board-dimensions: 768px;

  --squares-per-row-col: 8;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  height: 100dvh;
  background-color: var(--color-background);
  color: var(--color-black);

  display: flex;
  align-items: center;
  justify-content: center;
}

.chessboard {
  width: var(--board-dimensions);
  height: var(--board-dimensions);
  box-shadow: 0 0 0 1px var(--color-black);

  display: flex;
  flex-wrap: wrap;
}

.square {
  width: calc(var(--board-dimensions) / var(--squares-per-row-col));
  height: calc(var(--board-dimensions) / var(--squares-per-row-col));

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}

.square.black {
  background-color: var(--color-black);
}

.square.white {
  background-color: var(--color-white);
}

.piece {
  width: 90%;
  display: block;
}

.available__move {
  width: 100%;
  height: 100%;

  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  display: flex;
  align-items: center;
  justify-content: center;
}

.available__move::before {
  content: "";

  width: 32px;
  height: 32px;

  background-color: var(--color-green);

  border-radius: 100%;
  animation: popIn 0.2s ease-in-out;

  transition: all 0.2s;
}

.available__move:hover::before {
  transform: scale(1.4);
}

.cursor-pointer {
  cursor: pointer;
}

@keyframes popIn {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}
